<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Favorite Books</title>
</head>
<body class="container">
    <div class="d-flex mb-3 border-bottom border-dark p-2">
        <h1 class="jumbotron-heading me-auto bd-highlight">Welcome, {{ logged_user.first_name }}!</h1>
        <a href="/logout" class="bd-highlight">Log Out</a>    
    </div>

    <div class="row">
        <div class="col-5">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}
                    <li style="color: red">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/books/{{book.id}}/update" method="POST">
                {% csrf_token %}
                <input type="text" id="title" name="title" class="form-control form-control-lg my-2" value="{{ book.title }}">
                <p class="my-1">Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</p>
                <p class="my-1">Added on: {{ book.created_at|date:"M j, Y"}} @ {{ book.created_at|time:"g:i a" }}</p>
                <p>Last updated on: {{ book.updated_at|date:"M j, Y"}} @ {{ book.updated_at|time:"g:i a" }}</p>
                <div class="row mb-2">
                    <label for="desc" class="col-3 col-form-label">Description:</label>
                    <div class="col">
                        <textarea name="desc" id="desc" rows="4" class="form-control">{{ book.desc }}</textarea>    
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/books/{{book.id}}/destroy" class="btn btn-danger">Delete</a>    
                </div>
            </form>
        </div>

        <div class="col offset-1">
            <h2>Users Who Like This Book:</h2>
            <ul>
            {% if logged_user in book.users_who_like.all %}
                <li>{{ logged_user.first_name }} {{ logged_user.last_name }} <a href="/books/{{book.id}}/unfavorite">Un-Favorite</a></li>
            {% endif %}
            {% for user in book.users_who_like.all %}
                {% if user.id != request.session.id %}
                    <li>{{ user.first_name }} {{ user.last_name }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            {% if logged_user not in book.users_who_like.all %}
                <a href="/books/{{ book.id }}/favorite">Add to Favorites</a>
            {% endif %}
        </div>
    </div>
</body>
</html>